
/* BASE-------------------------------- */
	body{
		background-color: #DAE1E5;
	}

	.bgVirtuos{
    	background-color: #052040;
	}

	.bgVirtuos-docente{
		background: linear-gradient(to bottom, #052040 50%, white 50%);
	}

	.rounded-pill-start{
		border-bottom-left-radius: 50rem;
		border-top-left-radius: 50rem;
	}

	.rounded-pill-end{
		border-bottom-right-radius: 50rem;
		border-top-right-radius: 50rem;
	}

	.tarea-status{
		width: 66px;
		color: white !important;
	}

/* HEADER-------------------------------- */
 /* .site-header{} */
 .userPortrait{
	color: gray;
	background-color: #DAE1E5;
	border: #FFFAFA;
	border-radius: 100%;
	border-style: solid;
	border-width: 2px;
	height: 40px;
	width: 40px;
	text-align: center;
 }

 .userPortrait-lg{
	color: gray;
	background-color: #DAE1E5;
	border: white;
	border-radius: 100%;
	border-style: solid;
	border-width: 8px;
	height: 160px;
	width: 160px;
	text-align: center;
}

 .sub-bar{
	color: black;
	background-color: white;
 }

 .sub-bar-item{
	color: black;
	background-color: white;
	font-size: 1.125rem;
	font-weight: 500;
    line-height: 1.2;
 }


 .btn-text-start{
	text-align: start;
	height: 100px;
 }

 .panel-btn-icon{
	width: 50px;
 }

/* FOOTER-------------------------------- */
 /* .site-footer{} */
	

/* CONTENT-------------------------------- */
 /* .site-content{} */

	/* LAYOUT */
	
	/* BASIC ELEMENTS */
	 /* div{}
		p{}
		blockquote{}
		code{}
		img{}
		a{}
		em{}
		strong{}
		pre{} */
	
	/* HEADINGS */
	 /* h1{}
		h2{}
		h3{}
		h4{}
		h5{}
		h6{} */
	
	/* FORMS & BUTTONS */
	 /* form{}
		fieldset{}
		legend{}
		label{}
		input{} */
		.login-input-pill{
			background-color: white;
		}
	 /* textarea{}
		select{} */
	
	/* TABLES */
	 /* table{}
		caption{}
		tr{}
		thead{}
		th{}
		tbody{}
		td{} */

		.table th, .table td {
			border-top: 0;
			border-bottom: 2px solid #dee2e6;
		}
		
	 /* tfoot{} */
	
	/* LISTS */
	 /* dl{}
		dt{}
		dd{}
		ol{}
		ol li{}
		ul{}
		ul li{} */
	
	/* … */
		